 .download_text{
   font-family: "Raleway",sans-serif;
   color: $dark;
 }
 
 
 .download_h{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 30px;
 }
 .download_text-p{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 23px;
 }

 .down_ct{
    text-align: center;
 }
 .download_bt{
     cursor: pointer;
 }
 .download_a{
    color: white;
    font-size: 14px;
    text-decoration: none;
 }