.feautures_maintext{
    font-family:"Raleway",sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 25px;
 }
 .feautures_text{
    margin: 0 auto;
    max-width: 314px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $fttext;
}

.feautures_part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 -15px;
}
.feautures_bord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 15px;
}
.feautures_img{
    font-size: 34px;
    color: $red;
    margin-bottom: 38px;
}
.up_img{
    margin-bottom: 75px;
}


@media(max-width:767px){
    .feautures_part{
        grid-template-columns: 1fr 1fr ;
    }
    .up_imgsc{
        margin-bottom: 75px;
    }
}