header{
    padding: 50px 0;
    background-image: url(../img/first_bg.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}
.header_logo{
    display: block;
    width: 189px;
    height: 24px;
}
.heder_inner{
    position: relative;
    z-index: 5;
    border-bottom:1px  solid rgba(255,255,255,0.15);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 0 20px;
    margin-bottom: 30px;
}


.ul_head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li a{
    margin: 11px;
    opacity: 0.74;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color:$white;
    text-decoration: none;
    }
}
.nav_head{
 max-width: 600px;
}
.header_text{
    font-family: "OpenSans",sans-serif;
    font-size: calc(30px + 35 * ((100vw - 320px) / (1900 - 320)));
    line-height: 71px;
    font-weight: 700;
    text-transform: uppercase;
    color:$white;
    max-width: 910px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
}
.header_mintext{
    font-family: "Raleway",sans-serif;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: $white;
    max-width: 818px;
    text-align: center;
    margin: 0 auto 74px ;
}
.header__burger{
    display: none;
    cursor: pointer;
}
@media(max-width:767px){
    body.lock{
        overflow-y:hidden;
        max-height: 100vh;
    }
    .menu{
        overflow: auto;
        transition: all 0.3s ease 0s;
        max-width: 100%;
        position:fixed ;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #323650e8;
        z-index: 2;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            li{
                margin: 50px 0;
                a{
                    font-size: 26px;
                }
            }
                }
            }
    .menu.active{
        top: 98px;
    }       

    .burger{
        position: absolute;
        right: 10px;
        top: -22px;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      .burger span, .burger span:before, .burger span:after{
        width: 100%;
        position: absolute;
        height: 10px;
        background: rgb(241, 238, 238);
        display: block;
        transition: .3s;
        border-radius: 5px;
      }
      .burger span:before{
        content: "";
        top: -20px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span{
        top: 20px;
      }
      .burger span:after{
        content: "";
        bottom: -20px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span.active:before{
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active:after{
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active{
        background: rgba(255, 255, 255, 0); 
      }
}
.header__burger span.active:before{
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header__burger span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header__burger span.active{
    background: rgba(255, 255, 255, 0); 
  }
  @media(max-width:678px){
    .header_mintext{
      font-size: 15px;

    }
    .header_text {
      font-size: 29px;
    }
  }