.slider-container{
    overflow: hidden;
    background-color: aqua;
}
.slider-track{
    display: flex;
    transition: 0.2s;

}
.slider-item{
    height: 500px;
    width: 200px;
    background-color: aqua;
}
.wrapper{
    margin: 0 auto;
    width: 600px;
    padding: 140px 0;
}
.slider-item:nth-child(3n+1) {
    background-color: red;
}
.slider-item:nth-child(3n+2) {
    background-color: rgb(76, 0, 255);
}
.slider-item:nth-child(3n+3) {
    background-color:forestgreen;
}
.slider-buttons{
    text-align: center;
}