.slider-container{
    overflow: hidden;
    background-color: aqua;
}
.slider-track{
    display: flex;
    transition: 0.2s;

}
.slider-item{
    height: 500px;
    width: 100%;
    background-color: aqua;
}
.wrapper{
    width: 100%;
    padding: 140px 0;
    position: relative;
}
.slider-item:nth-child(3n+1) {
    background-color: red;
}
.slider-item:nth-child(3n+2) {
    background-color: rgb(76, 0, 255);
}
.slider-item:nth-child(3n+3) {
    background-color:forestgreen;
}
.slider-buttons{
    text-align: center;

}
.slider_maintext{
    font-family: "Cardo" ,sans-serif;
font-size: 36px;
line-height: 42px;
font-weight: 400;
font-style: italic;
color: #ffffff;
}
.slaider_text{
    font-family: "Raleway" ,sans-serif;
font-size: 13px;
line-height: 21px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
}
.slider-img{
    width: 50%;
    height: 100%;
}